<div class="{{block}}">
    <picture class="{{classElement block "picture"}}">
        <img  class="{{classElement block "img"}}"
              style="width: {{width}}; aspect-ratio: {{ratio}}"
              src="{{src}}"
              loading="{{loading}}"
              decoding="{{decoding}}"
              {{#if alt}}
                alt="{{alt}}"
              {{/if}}
          >
    </picture>
</div>
