<a class="{{block}} {{classModifier block "theme" theme}} {{classes}}"
   target="{{target}}"
   rel="noreferrer"
   href="{{href}}"
>
    {{label}}
    {{#if icon}}
        {{> c-icon newContext name=icon size=iconSize}}
    {{/if}}
</a>

